<%- include("templates/header") %>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">

      <h3>Oops! You've wandered into the abyss.</h3>
      <p>It seems like the page you're looking for has gone on vacation.</p>
      <p>Don't worry, we've dispatched a search party to find it!</p>
      <button class="btn btn-primary mt-4" onclick="window.location.href='/'">Go Home</button>

  </div>
</div>
<%- include("templates/footer") %>
