<%- include("templates/header") %>
    <div class="container">
        <form action='/forgotPasswordSubmit' method='post'>
            <div class="form-group">
                <br>

                <label for="email">Email:</label>
                <input name='email' type='email' class="form-control" id="email" placeholder='Enter email'>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <%- include("templates/footer") %>