<%- include("templates/header") %>

<br><br><br><br>
<h3>Here is a customized result based on the ingredients you searched</h3>
<p>
    <%= generatedRecipes %>
</p>


<%- include("templates/footer") %>