<%- include("templates/header") %> 
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h1 class="mb-4">TasteBud</h1>
      <h3>Welcome to TasteBud</h3>
      <a href="/createUser" class="btn btn-primary btn-block mt-6 mb-0 rounded-pill">Sign Up</a>
      <br>
      <br>
      <a href="/login" class="btn btn-primary btn-block mb-4 mb-0 rounded-pill"  >Log In</a>
      <br>

      <a href="/search" class="btn btn-primary btn-block mb-4 rounded-pill" >Continue As A Guest</a>
      <br>
      <br> 

      <img src="/images/meal.jpg" alt="" height="400px">
      
    </div>
  </div>
</div>
<%- include("templates/footer") %> 