<%- include("templates/header") %> 
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h1 class="mb-4">TasteBud</h1>
      <h3>Welcome to TasteBud</h3>
      <a href="/createUser" class="btn btn-primary btn-block mt-6 mb-0">Sign Up</a>
      <br>
      <br>
      <a href="/login" class="btn btn-primary btn-block mb-4 mb-0"  >Log In</a>
      <br>

      <a href="/" class="btn btn-primary btn-block mb-4" >Continue As A Guest</a>
      <br>
      <br>
      <img src="/public/images/logo.png" alt="">
    </div>
  </div>
</div>
<%- include("templates/footer") %> 