<%- include("templates/header") %> 
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      
      <h3>Please choose a search methos:</h3>
      <br>
      <a href="/ingOnHand" class="btn btn-success btn-block mt-6 mb-0 rounded-pill"style="background-color: white; color: #468414; border-color: #468414;">Ingredients on hand</a>
      <br>
      <br>
      <a href="/cookTime" class="btn btn-success btn-block mb-4 mb-0 rounded-pill" style="background-color: white; color: #468414; border-color: #468414;" >Cooking Time</a>
      <br>

      <a href="/skillLevel" class="btn btn-success btn-block mb-4 rounded-pill" style="background-color: white; color: #468414; border-color: #468414;">Skill Level</a>
      <br>
      <br> 
      <h5 >OR</h5>
      <br>
      <br>
      <a href="/skillLevel" class="btn btn-success btn-block mb-4 rounded-pill" style="background-color: white; color: #468414; border-color: #468414;" >Based on my preset prefrences</a>

    </div>
  </div>
</div>
<%- include("templates/footer") %>