<%- include("templates/header") %>
<!-- add jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- add bootstrap js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
    .pop-up {
            margin-top: 20%;
        }
    .btn-custom-search {
            width: 150px;
    }
</style>

<div class="container">
    <div class="text-center">
        <% if (user) { %>
            <h4><%= user[0].username %>'s Preset Dietary Restriction</h4><br>
        <% } %>
    </div>
    <form action="/searchDietaryRestrictionSubmit" method="POST">
        <label for="DietaryRestriction">Dietary Restriction:</label>
        <select id="DietaryRestriction" name="DietaryRestriction" class="form-control">
            <option value="none" <% if (user[0].DietaryRestriction === 'none' || !user[0].DietaryRestriction) { %> selected <% } %>>None</option>
            <option value="vegetarian" <% if (user[0].DietaryRestriction === 'vegetarian') { %> selected <% } %>>Vegetarian</option>
            <option value="vegan" <% if (user[0].DietaryRestriction === 'vegan') { %> selected <% } %>>Vegan</option>
            <option value="dairy-free" <% if (user[0].DietaryRestriction === 'dairy-free') { %> selected <% } %>>Dairy-Free</option>
            <option value="gluten-free" <% if (user[0].DietaryRestriction === 'gluten-free') { %> selected <% } %>>Gluten-Free</option>
        </select>
        <br>
        <label for="keywords">Recipe Name:</label>
        <br>
        <input name="keywords" type="text" class="form-control" id="keywords" placeholder="Enter the recipe name">
        <br>
        <div style="display: flex; justify-content: center; align-items: center;">
            <button type="submit" class="btn btn-custom-search mb-4 mb-0 mt-6 rounded-pill">Search</button>
        </div>
    </form>
</div>
<%- include("templates/footer") %>