<%- include("templates/header") %>



<form action="/searchNameSubmit">


<div class="form-group">
    <label for="recipeName">Recipe Name:</label>
    <input name='recipeName' type='recipeName' class="form-control" id="recipeName" placeholder='Enter the recipe name'>
</div>




</form>





<%- include("templates/footer") %>