<%- include("templates/header") %> 
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      
      <h3>Please choose a search method:</h3>
      <br>
      <a href="/searchName" class="btn  btn-block mb-4 mb-0 mt-6 rounded-pill">Recipe Name</a>
      <br>
      <a href="/searchByIngredients" class="btn  btn-block mt-10 mb-0 rounded-pill">Ingredients on hand</a>
      <br>
      <br>
      <a href="/searchSkillLevel" class="btn  btn-block mb-4 rounded-pill" >Skill Level</a>
      <br>
      <a href="/searchByDietaryRestriction" class="btn  btn-block mb-4 mb-0 rounded-pill"  >Dietary Restrictions</a>
    </div>
  </div>
</div>

<%- include("templates/footer") %>