<footer class="text-white py-2 fixed-bottom" style="background-color: #468414; padding: 0px;">
    <div class="row ">
      <div class="col-sm text-center">
        <a href="/" class="text-white"><i class="fas fa-home" ></i></a>
      </div>
      <div class="col-sm text-center">
        <a href="/search" class="text-white"><i class="fas fa-search"></i></a>
      </div>
      <div class="col-sm text-center">
        <a href="/profile" class="text-white"><i class="fas fa-heart"></i></a>
      </div>
    </div>
  </div>
</footer>